<div class="cars cars-list">
    {% if car.cover %}
        <div class="cars-informations">
            <a href="{{ recipe.get_absolute_url }}">
                <img src="{{car.cover.url}}" alt="temp">
            </a>
        </div>
    {% endif %}
        <div class="cars-title-container">
            <a href="{{ recipe.get_absolute_url }}">
                <h1 align="center">{{ car.title }}</h1>
            </a>    
        </div>
    <div class="cars-company">
        {% if car.author is not None %}
            <span class="cars-company-item">
                <i class="fas fa-user"></i>
                {{ car.author.first_name }} {{ car.author.last_name }}
            </span>
        {% endif %}
        <span class="cars-company-item">
            <i class="fas fa-calendar-alt"></i>
            {{ car.date|date:"d/m/Y"  }}
        </span>
        {% if car.shop is not None %}
            <span class="car-company-item">
                <a href="{% url 'car:Shop' car.shop.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ car.shop.name }}</span>
                </a>
            </span>
        {% endif %}
    </div>
    <div class="cars-content">
        {% if  is_detail_page is not True%}
            {{ car.details }}
        {% else%}
            {{ car.description }} 
        {% endif %}
    </div>
    <div class="cars-value">
        <div class="cars-meta">
            <h3 class="cars-meta-title"><i class="fa-solid fa-dollar-sign"></i> Value: </h3>
            <div class="cars-meta-text">
                US${{ car.value_unit }}
            </div>
        </div>
    </div>
    {% if is_detail_page is not True %}
        <footer class="cars-footer">
            <a class="cars-read-more button button-dark button-full-width" href="{% url 'car:cars' car.id %}">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    {% endif %}
</div>