{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'Global/partials/header.html' %}
    <title>{% block title %}{% endblock title %}</title>
</head>    
<body>
    {% include 'Global/partials/head.html' %}
    {% include 'Global/partials/search.html' %}
    <main class="main-contant-container">
        {% block content%}{% endblock  %}
        {% include 'Global/partials/pagination.html'%}
    </main>
    {% include  'Global/partials/footer.html' %}

    <script src="{% static 'global/js/scripts.js' %}"></script>
</body>


</html>